<template name="admin">
	{{#isolate}}
	{{#if is_admin}}
		<div id="message-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="message-header" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 id="message-header">Send a message to a user:</h4>
			</div>
			<div class="modal-body">
				<div id="message-body">
					<p id="message-user_id">User:</p>
					<textarea class="span12" id="message-text" rows="4" placeholder="Enter your message here..."></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button id="message-send" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Send</button>
			</div>
		</div>
		<div id="user_stats">
			<h4>Number of users: {{total_users}}</h4>
		</div>
		<div id="blocks_completed">
			<h4 class="page-header">User Activity over the past month:</h4>
			<canvas id="user_activity_chart" width="600" height="400"></canvas>
		</div>
		<div id="blocks_completed">
			<h4 class="page-header">Better Blocks Completed Today by User:</h4>
			<canvas id="blocks_completed_chart" width="600" height="400"></canvas>
		</div>
		
		<div id="conversations" class="accordion">
			{{#if issue}}
			<div>
				<h4>Unanswered feedback</h4>
			</div>
			{{#each issue}}
			<div class="accordion-group">
			    <div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#conversations" href="#{{_id}}">
					<div class="page-header">
						<p>Created: {{create_date}} | User: {{user}} | Type: {{type}}</p>
					</div>
				</a>	
				<div id="{{_id}}" class="accordion-body collapse">
		      		<div class="accordion-inner">
						{{#each messages}}
						<div class="message">	
							<p>{{user}} ({{date}}:{{time}}):</p>
							<p class="well">{{text}}</p>
						</div>
						{{/each}}
						<textarea class="respond span12" rows="4" id="{{_id}}_respond"></textarea>
						<button class="btn btn-inverse respond-submit" name="{{_id}}">Respond</button>	
					</div>	
				</div>
			</div>
			{{/each}}
			{{else}}
			<div>
				<p>No unresolved conversations. </p>
			</div>
			{{/if}}	
		</div>
		<div id="message_users">
			<h4>Send messages to users</h4>
			<table class="table table-bordered table-condensed">
				<tr>
					<td><strong>All users</strong> <button class="btn btn-primary send-message pull-right" name="all">Message</button></td>
				</tr>
				{{#each user_profile}}
				<tr>
					<td>{{email}}, {{user_id}} <button class="btn btn-primary send-message pull-right" name="{{user_id}}">Message</button></td>
				</tr>
				{{/each}}
			</table>
		</div>			
	{{else}}
		<div>
			<p>Error, page not found.</p>
		</div>
	{{/if}}
	{{/isolate}}
</template>			
					
			