<template name="better_blocks">
	{{#isolate}}
<!--	
	{{#each block}}
		<div id="{{block_name}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{header_name}}" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 id="{{header_name}}">{{block_header}}</h4>
			</div>
			<div class="modal-body">
				{{block_body}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Exit</button>
				<button id="{{order}}.{{next}}" class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
			</div>
		</div>
	{{/each}}
-->
	
<!--This section contains hard coded modals, it will be removed after the modular system is perfected 
	I think I am also going to add an introduction modal
	I'm also going to add alerts to each modal that tells the user what to do...
-->
<!-- First time to site modal -->
<div id="site_intro_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="site-intro" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="site-intro">Welcome to BetterMe.</h4>
	</div>
	<div class="modal-body">
		<div id="site-intro-body">
			<p>BetterMe is all about helping you become better. We believe there are a number of simple things you can do a daily basis that will help <strong>you</strong> improve yourself. These activities should only take 10-15 minutes of your time, but studies have shown significant benefits. </p>
			<p>Currently the focus is on leveraging the power of psychology to make you <strong>happier</strong>, <strong>more organized</strong>, and <strong>more likely to achieve your goals</strong>, but over time we'll expand that focus to encompass other aspects of your life as well. We'll also allow you to choose which areas of your life you'd like to focus on at any point in time, letting you continue to get better and better.</p>
			<p>If you'd like to be a part of this project, and start improving yourself, click the <strong>"Get Started!"</strong> button to jump into the activities. If you'd like to know more about BetterMe, click "Learn More" to read about each activity.</p> 
		</div>
	</div>
	<div class="modal-footer">
		<button id="goto_about" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Learn More</button>
		<button id="intro.1" class="btn btn-success start-block" data-dismiss="modal" aria-hidden="true">Get Started!</button>
	</div>
</div>

<!--Introduction Modal: #0 -->
<div id="block-0" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="intro-header">{{greeting}}</h4>
	</div>
	<div class="modal-body">
		<div id="summary">
			<p>Are you ready to complete today's better blocks? Click Begin to get started...</p>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Later</button>
		<button id="0.1" class="btn btn-success start-block" data-dismiss="modal" aria-hidden="true">Begin</button>
	</div>
</div>

<!--summ-yest Modal: #1 -->
<div id="block-1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="summ-yest-header">Short Summary of Yesterday:</h4>
	</div>
	<div class="modal-body">
		<div id="summary">
			{{#isolate}}
			<div id="summ_tip" class="alert better-tip alert-info">
			  	<button type="button" class="close" data-dismiss="alert">&times;</button>
			  	<strong>Tip: Try writing chronologically, going from morning to evening.</strong>
			</div>
			{{/isolate}}
			{{#isolate}}
			<textarea id="summ-yest" placeholder="Yesterday I..." class="span5" rows="15">{{#if previous}}{{summary}}{{/if}}</textarea>
			{{/isolate}}
		</div>
	</div>
	<div class="modal-footer">
		<button name="1.0" class="btn btn-inverse previous-block" data-dismiss="modal" aria-hidden="true">Previous</button>
		<button id="1.2" class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
	</div>
</div>
<!--Tasks Yesterday Modal: #2 -->
<div id="block-2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="tasks-yesterday-header" >Yesterday's Tasks:</h4>
	</div>
	<div class="modal-body">
		{{#isolate}}
		<div id="yesterday_tip" class="alert better-tip alert-info">
		  	<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	<strong>Tip: Mark yesterdays tasks as done or not done (not done tasks carryover to today).</strong>
		</div>
		{{/isolate}}
		<div id="yesterdays_tasks" class="span5">
			<table class="table table-bordered">
			{{#isolate}}	
			{{#if yesterday}}	
			{{#each yesterday}}
				<tr>
					<td>{{task}}<div class="btn-group pull-right" data-toggle="buttons-radio">
						<button name="{{_id}}" class="btn btn-success task-remove" type="button"><i name="{{_id}}" class="icon-ok icon-white task-remove"></i></button><button name="{{_id}}" class="btn btn-danger task-stay" type="button"><i name="{{_id}}" class="icon-remove icon-white task-stay"></i></button></td>
				</tr>
			{{/each}}
			{{else}}
				<tr>
					<td>None.</td>
				</tr>	
			{{/if}}
			{{/isolate}}
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button name="2.1" class="btn btn-inverse previous-block" data-dismiss="modal" aria-hidden="true">Previous</button>
		<button id="2.3" class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
	</div>
</div>
<!--Today's Tasks Modal: #3 -->
<div id="block-3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="today-tasks-header">Today's Tasks:</h4>
	</div>
	<div class="modal-body">
		{{#isolate}}
		<div id="today_tip" class="alert better-tip alert-info">
		  	<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{#if today_check}}
		  	<strong>Tip: Try to add tasks that you'll be able to complete today</strong>
			{{else}}
			<strong>You've already got enough tasks for today, click next to continue</strong>
			{{/if}}
		</div>
		{{/isolate}}
		{{#isolate}}
		<div class="span4">
			<table class="table table-bordered">
				{{#each today}}
					<tr>
						<td>{{task}}</td>
					</tr>
				{{/each}}
			</table>
		</div>	
		{{#if today_check}}
			<div class="input-append span4">
				<input id="todays-task" type="text" class="span4">
			  	<button class="btn" id="add-task">Add</button>
			</div>
		{{/if}}
		{{/isolate}}
	</div>
	<div class="modal-footer">
		<button name="3.2" class="btn btn-inverse previous-block" data-dismiss="modal" aria-hidden="true">Previous</button>
		<button id="3.4" class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
	</div>
</div>
<!--Grateful Modal: #4 -->
<div id="block-4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="grateful-header">Things I am grateful for:</h4>
	</div>
	<div class="modal-body">
		{{#isolate}}
		<div id="grateful_tip" class="alert better-tip alert-info">
		  	<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	<strong>Tip: Try to be specific. You'll get more out of it.</strong>
		</div>
		{{/isolate}}
		{{#isolate}}
		<div class="span4">
			<table class="table table-bordered">
			{{#each gratitude}}
				<tr>
					<td>{{item}}</td>
				</tr>
			{{/each}}
			</table>
		</div>		
		{{#if grateful_check}}
		<div class="input-append span4">
			<input id="todays-gratitude" type="text" class="span4">
			<button class="btn" id="add_gratitude">Add</button>
		</div>	
		{{/if}}
		{{/isolate}}
	</div>
	<div class="modal-footer">
		<button name="4.3" class="btn btn-inverse previous-block" data-dismiss="modal" aria-hidden="true">Previous</button>
		<button id="4.5" class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
	</div>
</div>
<!--Counter-facts Modal: #5 -->
<div id="block-5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="counter-header">Things I could have done better yesterday:</h4>
	</div>
	<div class="modal-body">
		{{#isolate}}
		<div id="counter_tip" class="alert better-tip alert-info">
		  	<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	<strong>Tip: Try picking things you can work on today...</strong>
		</div>
		{{/isolate}}
		{{#isolate}}
		<div class="span4">
		<table class="table table-bordered">
		{{#each counter_fact}}
			<tr>
				<td>{{item}}</td>
			</tr>
		{{/each}}
		</table>
		</div>		
		{{#if counter_check}}
		<div class="input-append span4">
		  <input id="todays-counterfact" type="text" class="span4">
		  <button class="btn" id="add-counterfact">Add</button>
		</div>	
		{{/if}}
		{{/isolate}}
	</div>
	<div class="modal-footer">
		<button name="5.4" class="btn btn-inverse previous-block" data-dismiss="modal" aria-hidden="true">Previous</button>
		<button id="5.6" class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
	</div>
</div>
<!--Today I feel Modal: #6 -->
<div id="block-6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="counter-header">Today I Feel:</h4>
	</div>
	<div class="modal-body">
		{{#isolate}}
		<div id="today_feel_tip" class="alert better-tip alert-info">
		  	<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	<strong>Tip: How do you feel right now?</strong>
		</div>
		{{/isolate}}
		<form id="today_form">
			<div class="row-fluid"><span class="span2">Happy </span>
			<div id="happy_today" class="btn-group span4" data-toggle="buttons-radio">
				<button type="button" class="btn btn-primary today_happy" name="today_happy" value="5">5</button>
				<button type="button" class="btn btn-primary today_happy" name="today_happy" value="4">4</button>
				<button type="button" class="btn btn-primary today_happy" name="today_happy" value="3">3</button>
				<button type="button" class="btn btn-primary today_happy" name="today_happy" value="2">2</button>
				<button type="button" class="btn btn-primary today_happy" name="today_happy" value="1">1</button>
			</div><span class="span2 text-right"> Unhappy</span>
			</div>
			<div class="row-fluid"><span class="span2">Motivated </span>
			<div id="motivated_today" class="btn-group span4" data-toggle="buttons-radio">
				<button type="button" class="btn btn-primary today_motivated" name="today_motivated" value="5">5</button>
				<button type="button" class="btn btn-primary today_motivated" name="today_motivated" value="4">4</button>
				<button type="button" class="btn btn-primary today_motivated" name="today_motivated" value="3">3</button>
				<button type="button" class="btn btn-primary today_motivated" name="today_motivated" value="2">2</button>
				<button type="button" class="btn btn-primary today_motivated" name="today_motivated" value="1">1</button>
			</div><span class="span2 text-right"> Unmotivated</span>
			</div>
			<div class="row-fluid"><span class="span2">Zen </span>
			<div id="zen_today" class="btn-group span4" data-toggle="buttons-radio">
				<button type="button" class="btn btn-primary today_zen" name="today_zen" value="5">5</button>
				<button type="button" class="btn btn-primary today_zen" name="today_zen" value="4">4</button>
				<button type="button" class="btn btn-primary today_zen" name="today_zen" value="3">3</button>
				<button type="button" class="btn btn-primary today_zen" name="today_zen" value="2">2</button>
				<button type="button" class="btn btn-primary today_zen" name="today_zen" value="1">1</button>
			</div><span class="span2 text-right"> Chaos</span>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button name="6.5" class="btn btn-inverse previous-block" data-dismiss="modal" aria-hidden="true">Previous</button>
		<button id="6.7" class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
	</div>
</div>
<!--Yesterday I felt Modal: #7 -->
<div id="block-7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="counter-header" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="counter-header">Yesterday I Felt:</h4>
	</div>
	<div class="modal-body">
		{{#isolate}}
		<div id="today_feel_tip" class="alert better-tip alert-info">
		  	<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	<strong>Tip: Overall, how would you rate yesterday?</strong>
		</div>
		{{/isolate}}
		<form id="yesterday_form">
			<div class="row-fluid"><span class="span2">Happy </span>
			<div id="happy_yesterday" class="btn-group span4" data-toggle="buttons-radio">
				<button type="button" class="btn btn-primary yesterday_happy" name="yesterday_happy" value="5">5</button>
				<button type="button" class="btn btn-primary yesterday_happy" name="yesterday_happy" value="4">4</button>
				<button type="button" class="btn btn-primary yesterday_happy" name="yesterday_happy" value="3">3</button>
				<button type="button" class="btn btn-primary yesterday_happy" name="yesterday_happy" value="2">2</button>
				<button type="button" class="btn btn-primary yesterday_happy" name="yesterday_happy" value="1">1</button>
			</div><span class="span2 text-right"> Unhappy</span>
			</div>
			<div class="row-fluid"><span class="span2">Motivated </span>
			<div id="motivated_yesterday" class="btn-group span4" data-toggle="buttons-radio">
				<button type="button" class="btn btn-primary yesterday_motivated" name="yesterday_motivated" value="5">5</button>
				<button type="button" class="btn btn-primary yesterday_motivated" name="yesterday_motivated" value="4">4</button>
				<button type="button" class="btn btn-primary yesterday_motivated" name="yesterday_motivated" value="3">3</button>
				<button type="button" class="btn btn-primary yesterday_motivated" name="yesterday_motivated" value="2">2</button>
				<button type="button" class="btn btn-primary yesterday_motivated" name="yesterday_motivated" value="1">1</button>
			</div><span class="span2 text-right"> Unmotivated</span>
			</div>
			<div class="row-fluid"><span class="span2">Zen </span>
			<div id="zen_yesterday" class="btn-group span4" data-toggle="buttons-radio">
				<button type="button" class="btn btn-primary yesterday_zen" name="yesterday_zen" value="5">5</button>
				<button type="button" class="btn btn-primary yesterday_zen" name="yesterday_zen" value="4">4</button>
				<button type="button" class="btn btn-primary yesterday_zen" name="yesterday_zen" value="3">3</button>
				<button type="button" class="btn btn-primary yesterday_zen" name="yesterday_zen" value="2">2</button>
				<button type="button" class="btn btn-primary yesterday_zen" name="yesterday_zen" value="1">1</button>
			</div><span class="span2 text-right"> Chaos</span>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button name="7.6" class="btn btn-inverse previous-block" data-dismiss="modal" aria-hidden="true">Previous</button>
		<button id="7." class="btn btn-success next-block" data-dismiss="modal" aria-hidden="true">Next</button>
	</div>
</div>
	{{/isolate}}	
</template>						