<template name="contact">
	<div class="span6">
		<form id="contact_form">
			<legend>How can we help you:</legend>
			{{#isolate}}
			<textarea id="feedback_text" rows="6" class="span12" placeholder="What's on your mind?"></textarea>
			<select id="feedback_type">
				<option value="question">Question</option>
				<option value="general">General Feedback</option>
				<option value="suggestion">Suggestion</option>
				<option value="bug">Bug</option>
			</select>
			{{/isolate}}
			<div>
			{{#isolate}}	
			<button class="btn btn-inverse" id="contact_submit">Submit</button>
			{{/isolate}}
			</div>
		</form>
	</div>
	{{#if conversations}}
	<div class="span6">
		{{#each conversations}}
		<div class="accordion-group">
		    <div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#conversations" href="#{{_id}}">
				<div class="page-header">
					<p>Created: {{create_date}} | Type: {{type}}</p>
				</div>
			</a>	
			<div id="{{_id}}" class="accordion-body collapse in">
	      		<div class="accordion-inner">
					{{#each messages}}
					<div class="message">	
						<p>{{user}} ({{date}}:{{time}}):</p>
						<p class="well">{{text}}</p>
					</div>
					{{/each}}
					<textarea class="respond span5" rows="4" id="{{_id}}_respond"></textarea>
					<button class="btn btn-inverse respond-submit" name="{{_id}}">Respond</button>
					<button class="btn btn-inverse archive-submit" name="{{_id}}">Archive</button>		
				</div>	
			</div>
		</div>
		{{/each}}
	</div>
	{{/if}}	
</template>