<template name="progress">
	<script src="chart.js"></script>
	{{#isolate}}
	<div id="current_streak">
		<h4 id="streak_length"class="page-header">Longest Streak: </h4>
	</div>	
	<div id="daily_activity">
		<h4 class="page-header">Better Blocks Completed per day:</h4>
		<canvas id="usage_chart" width="600" height="400"></canvas>
	</div>
	<div id="tasks_completed">
		<h4 class="page-header">Tasks Completed per day:</h4>
		<canvas id="tasks_completed_chart" width="600" height="400"></canvas>
	</div>	
	<div id="happy_results">
		<h4 class="page-header">Happiness Level per day (<font color="FCA841">Beginning</font> &amp; <font color="97BBCD">End</font>):</h4>
		<canvas id="happy_chart" width="600" height="400"></canvas>
	</div>
	<div id="motivated_results">
		<h4 class="page-header">Motivation Level over time (<font color="FCA841">Beginning</font> &amp; <font color="97BBCD">End</font>):</h4>
		<canvas id="motivated_chart" width="600" height="400"></canvas>
	</div>
	<div id="zen_results">
		<h4 class="page-header">Zen Level over time (<font color="FCA841">Beginning</font> &amp; <font color="97BBCD">End</font>):</h4>
		<canvas id="zen_chart" width="600" height="400"></canvas>
	</div>
	{{/isolate}}
</template>		