<!-- 
Settings that I would like to add:
Name : Text
Email : Text
Daily Email Reminders : On/Off

-->
<template name="settings">
	<div class="settings-container span10">
		<div class="settings-block">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="num_tasks">Number of tasks you can input:</label>
					<div class="controls">
						<select class="block-setting" id="num_tasks">
							<option id="task_1" value="1">1</option>
							<option id="task_2" value="2">2</option>
							<option id="task_3" value="3" selected>3</option>
							<option id="task_4" value="4">4</option>
							<option id="task_5" value="5">5</option>
						</select>
					</div>
				</div>
			</form>			
		<div>
		<div class="settings-block">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="num_tasks">Number of gratitudes you can input:</label>
					<div class="controls">
						<select class="block-setting" id="num_tasks">
							<option id="grateful_1" value="1">1</option>
							<option id="grateful_2" value="2">2</option>
							<option id="grateful_3" value="3" selected>3</option>
							<option id="grateful_4" value="4">4</option>
							<option id="grateful_5" value="5">5</option>
						</select>
					</div>
				</div>
			</form>			
		<div>					
		<div class="settings-block">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="num_tasks">Number of counterfactuals you can input:</label>
					<div class="controls">
						<select class="block-setting" id="num_tasks">
							<option id="counter_1" value="1">1</option>
							<option id="counter_2" value="2">2</option>
							<option id="counter_3" value="3" selected>3</option>
							<option id="counter_4" value="4">4</option>
							<option id="counter_5" value="5">5</option>
						</select>
					</div>
				</div>
			</form>			
		<div>
		<div class="settings-block">
			{{loginButtons}}						
		</div>
	</div>
</template>			