<template name="tasks_yesterday">
	<div class="span8 better-block">
		<h4 class="page-header">Yesterdays Tasks:</h4>
		<div class="span5">
		<table class="table table-bordered table-striped">
		{{#each yesterday}}
			<tr>
				<td>{{task}}<div class="btn-group pull-right" data-toggle="buttons-radio">
					<button id="{{_id}}" class="btn btn-success task-remove" type="button"><i class="icon-ok icon-white"></i></button><button name="{{_id}}" class="btn btn-danger task-stay" type="button"><i class="icon-remove icon-white"></i></button></td>
			</tr>
		{{/each}}
		</table>
		</div>
	</div>
</template>