<template name="tasks_today">
	<div class="span8 better-block">
		<h4 id="today-task-header" class="page-header" data-toggle="collapse" data-target="#todays_tasks">Today's Tasks:</h4>
		<div id="todays_tasks" class="collapse in">
		<div class="span4">
		<table class="table table-bordered">
			{{#each today}}
				<tr>
					<td>{{task}}</td>
				</tr>
			{{/each}}
		</table>
		</div>	
		{{#if today_check}}
		<div class="input-append span8">
		  <input id="todays-task" type="text">
		  <button class="btn" id="add-task">Add</button>
		</div>
		{{/if}}
		</div>
	</div>	
</template>