<template name="today_main">
	<div class="main-block row-fluid">
		<h4 class="page-header">Tasks:</h4>
		<div class="span10">
			<table class="table table-bordered">
				{{#each tasks}}
				<tr>
					<td>{{task}}<div class="btn-group pull-right" data-toggle="buttons-radio">
					<button name="{{_id}}" class="btn btn-success task-remove" type="button"><i name="{{_id}}" class="icon-ok icon-white task-remove"></i></button><button name="{{_id}}" class="btn btn-danger task-stay" type="button"><i name="{{_id}}" class="icon-remove icon-white task-stay"></i></button></td>
				</tr>
				{{/each}}
			</table>
			{{#if today_check}}
			<div class="input-append span10">
				<input id="todays-task-main" type="text" class="span12 pull-left">
				 <button class="btn" id="add-task-main">Add</button>
			</div>
			{{/if}}
		</div>
	</div>
	<div class="main-block row-fluid">
		<h4 class="page-header">Things I am thankful for today:</h4>	
		<div class="span8">
			<table class="table table-bordered">
			{{#each grateful}}
				<tr>
					<td>{{item}}</td>
				</tr>
			{{/each}}
			</table>
		</div>
	</div>
	<div class="main-block row-fluid">
		<h4 class="page-header">Things I can do better today:</h4>	
		<div class="span8">
			<table class="table table-bordered">
			{{#each counterfact}}
				<tr>
					<td>{{item}}</td>
				</tr>
			{{/each}}
			</table>
		</div>		
	</div>
</template>