<template name="today_i_feel">
	<div class="span8 better-block">
		<h4 class="page-header">Today I Feel:</h4>
		<form>
			<div id="happy_today">
				<label class="radio inline">Happy-&gt;</label>				
				<label class="radio inline"><input type="radio" name="today_happy" value="5"></label>
				<label class="radio inline"><input type="radio" name="today_happy" value="4"></label>
				<label class="radio inline"><input type="radio" name="today_happy" value="3"></label>
				<label class="radio inline"><input type="radio" name="today_happy" value="2"></label>
				<label class="radio inline"><input type="radio" name="today_happy" value="1"></label>
				<label class="radio inline">&lt;-Unappy</label>
			</div>
			<div>
				<label class="radio inline">Motivated-&gt;</label>	
				<label class="radio inline"><input type="radio" name="today_motivated" value="5"></label>
				<label class="radio inline"><input type="radio" name="today_motivated" value="4"></label>
				<label class="radio inline"><input type="radio" name="today_motivated" value="3"></label>
				<label class="radio inline"><input type="radio" name="today_motivated" value="2"></label>
				<label class="radio inline"><input type="radio" name="today_motivated" value="1"></label>
				<label class="radio inline">&lt;-Unmotivated</label>
			</div>
			<div>
				<label class="radio inline">Zen-&gt;</label>
				<label class="radio inline"><input type="radio" name="today_zen" value="5"></label>
				<label class="radio inline"><input type="radio" name="today_zen" value="4"></label>
				<label class="radio inline"><input type="radio" name="today_zen" value="3"></label>
				<label class="radio inline"><input type="radio" name="today_zen" value="2"></label>
				<label class="radio inline"><input type="radio" name="today_zen" value="1"></label>
				<label class="radio inline">&lt;-Chaos</label>
			</div>
		</form>
	</div>
</template>			
